/*
  Global styles

  Low-specificity, global styles that apply to the whole
  project: https://cube.fyi/css.html
*/

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--size-step-0);
  font-family: 'Roboto Slab', serif;
  /* font-family: "Roboto Slab", serif; */
  line-height: 1.4;
  letter-spacing: var(--tracking);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  accent-color: var(--color-primary);
}

main {
  flex: auto;
}

/* Base typesetting */
h1,
h2,
h3 {
  line-height: 1.2;
  letter-spacing: var(--tracking-s);
  font-weight: 700;
  font-family: var(--font-display);
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-2);
}

/* Set line lengths */
p,
li,
blockquote:not([class]) {
  max-inline-size: 65ch;
}

blockquote {
  border-inline-start: 0.5rem solid var(--color-primary);
  padding: var(--space-m-l);
  font-family: var(--font-base);
  font-style: italic;
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

/* blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
} */

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

strong {
  font-weight: 800;
}

img.whale {
  object-fit: fill;
  clip-path: circle(30%);
  text-decoration: none !important;
  margin: 0 auto;
}

/* a[href^=http]:is([href*="albumwhale.com"]) {
  background-image: none !important;
} */

hr {
  border: 0;
  height: 1px;
  width: 10%;
  margin-block: var(--space-m-l);
  margin-inline-start: 0;
  background-color: var(--color-bg-accent-2);
}

[role='list'] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
  text-decoration-thickness: 0.08em;
}

a:hover {
  text-decoration: none;
}

:focus-visible {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

main:focus {
  outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.preload-transitions * {
  transition: none !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}


.blogroll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 -1.5rem;
}

li.blogroll__item::marker {
  display: none !important;
}

.blogroll__item {
  padding: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-bg);
  list-style: none;
  overflow: hidden !important;
}

.blogroll__profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.blogroll__title {
  font-size: 1.75rem;
  margin-bottom: 0;
}

.blogroll__link {
  display: block;
  text-overflow: ellipsis;
}

.blogroll__avatar {
  flex: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.callout {
  --callout-color: currentColor;
  position: relative;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid var(--color-border);
  border-left: 0;
  background-color: var(--color-bg-offset);
  text-align: left;
}

.callout__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 0.25rem;
  color: var(--callout-color);
  background-color: var(--color-bg);
  margin-left: 2px;
}

.callout__content {
  padding: 1rem;
  border-left: 4px solid var(--callout-color);
}

.callout__content>*+* {
  margin-top: 2rem;
}

.callout--warning,
.callout--action {
  --callout-color: var(--color-primary);
}

.callout--tip,
.callout--info {
  --callout-color: var(--color-secondary);
}

.icon {
  display: inline-block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  vertical-align: middle;
  fill: currentColor;
  pointer-events: none;
}