---
layout: base
schema: blog
---

{# <article class="region blog" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    <!-- image -->
    {% if image %}{% eleventyImage image, alt or title, null, "eager", "feature" %} {%
    endif %}

    <!-- credit -->
    {% if credit %}
    <p class="feature text-step-min-1">© {{ credit }}</p>
    {% endif %}

    <p class="cluster text-step-min-1" style="--gutter: var(--space-xs-s)">
      <!-- date -->
      {% set definedDate = date %} {% include "components/date.njk" %}

      <!-- tags -->
      {% if tags.length > 1 %} {% for tag in tags %} {% if tag != "posts" %}
      <a class="button post-tag" href="/tags/{{ tags[1] }}">
        {{ tag }}
      </a>
      {% endif %} {% endfor %} {% endif %}
    </p>

    {{ content | safe }}
    {% include 'components/edit-on.njk' %}
  </div> #}

<article class="region blog">
  <div class="wrapper prose">
    <h1 class="title-shadow-post">{{ title }}</h1>

    <div class="post-list my-s-m">
      {% set definedDate = date %}{% include "partials/date-time.njk" %}
      <ul class="tag-list">
        {% for tag in tags %}
          {% if tag != "posts" %}
            <li class="tag">#{{ tag }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  <div class="wrapper flow">
    {{ content | safe }}

  </div>
  </div>
</article>

<div hidden>
    <!--  h-card infos -->
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <p class="h-card p-author">
      <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author }}</a>
      <img
        src="{{ meta.authorAvatar | url | absoluteUrl(meta.url) }}"
        alt="{{ meta[page.lang].siteName }}"
      />
    </p>
  </div>
</article>

<!-- set webmentions url -->
{# {% include "partials/webmention.njk" %} #}
<!-- include webmentions -->
{# {% include "partials/webmentions.njk" %} #}

<!-- cta -->
{% include 'partials/cta.njk' %}